@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    html {
        @apply bg-gray-100
    }

    body, html {
        @apply h-full
    }

    .receipt {
        @apply flex flex-col gap-y-4 bg-white relative p-4 shadow-2xl;
        /*box-shadow: 0 -0.4rem 1rem -0.4rem rgba(0,0,0,0.2);*/
    }

    .receipt:before {
        @apply block absolute -top-4 left-0 w-full h-4;
        background-image: linear-gradient(315deg, #fff 0.5rem, transparent 0), linear-gradient(45deg, #fff 0.5rem, transparent 0);
        background-position: 4% top;
        background-repeat: repeat-x;
        background-size: 1rem;
        content: '';
    }

    .receipt:after {
        @apply block absolute -bottom-4 left-0 w-full h-4;
        background-image: linear-gradient(135deg, #fff 0.5rem, transparent 0), linear-gradient(-135deg, #fff 0.5rem, transparent 0);
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 1rem;
        content: '';
    }
}
